@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700&display=swap');

html,body {
  margin: 0;
  padding: 0;
}

.jumbotron {
    border-radius: 0;
}

input {
    border: 1px solid #0d0d0d;
    border-radius: 15px;
    color: #0d0d0d;
    width: 250px;
}

select {

    background-color: #EBEEF1;
    padding: 10px 30px;
    margin-bottom: 12px;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;

}

.logo {
    height: 350px;
}

li {
    color: #fff;
}

a:hover {
    color: #ffde59;
}

h3 {
    color: #ffde59;
}

h4 {

    color: #ffde59;
}

.nav-link {

    text-transform: uppercase;
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    font-family: "Open-Sans", sans-serif;

}

/* Responsive menu for mobile devices */
.mobile-menu {

    color: white;
    position:fixed; 
    width: 100%; 
    line-height: 350%; 
    z-index:1000; 
    background-color: black; 
    display: inline-block;

}

.mobile-menu i {

    color: white;
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 10px;

}

.menu-title {

    font-family: 'Titillium Web', sans-serif; 
    letter-spacing: 5px; 
    font-size: 25px; 
    display: inline-block; 
    text-align: center; 
    width: 100%;

}

.navbar-toggler {

    background-color: #FCFCFC;
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 1000;

}

p {

    color: white;
}

legend {

    color: #ffde59;
}

/* Margin caroussel */
.carousel slide carousel-fade {

    margin-bottom: 0;

}

/* Imgs caroussel */
.d-block w-100 {

    height: 650px;

}

/* Background color navbar */
.navbar.navbar-expand-sm.justify-content-center {

    background-color: #0d0d0d;

}

/* Principal container */
.principal-container {

    color: #777;
    background-image: linear-gradient(to right top, #050d37, #041863, #1b1f91, #3d20be, #6712eb); 
    /*background-color:#001a66; */
    text-align:center; 
    padding: 50px 80px; 
    text-align: justify; 

}

/* Swiper "FILM A L'AFFICHE" */


.title-before-swiper {

    color: white; 
    text-align: center;
    font-family: 'Titillium Web', sans-serif

}

p.intro-swiper {
    padding: 2%;
    border-left-color: red;
    border-left: 3px solid;
}

.swiper-container {

    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;

}

.swiper-container img {

    border-radius: 5px;

}


.swiper-slide {

    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius: 5px;


}


.swiper-slide .imgBx {

    width: 100%;
    height: 300px;
    overflow: hidden;

}

.swiper-slide .imgBx img {

    width: 100%;

}

.swiper-slide .details {

    box-sizing: border-box;
    padding: 20px;

}


.swiper-slide .details h3 {

    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    font-family: 'Titillium Web', sans-serif

}

.swiper-slide .details h3 span {

    font-size: 16px;
    color: #f44336;
    font-family: Arial;
}

.btn-programmation {

    float: right; 
    background-color: black; 
    border: none;

}


/* "VOIR LA PROGRAMMATION" button .btn-prog */
.button_prog {
    margin-bottom: 15px;
    text-align: center;
}

.btn-prog  {

   border-radius: 4px;
   background-color: #ffde59;
   border: none;
   border-radius: 25px;
   color: black;
   text-align: center;
   text-transform: uppercase;
   font-size: 12px;
   padding: 15px;
   width: 150px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;

 }

.btn-prog  span {

   color: black;
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;

 }
 .btn-prog  span:after {

   content: '\00bb';
   position: absolute;
   opacity: 0;
   color: black;
   top: 0;
   right: -20px;
   transition: 0.5s;

 }
 .btn-prog:hover span {

   padding-right: 25px;

 }
 .btn-prog:hover span:after {

   opacity: 1;
   right: 0;

 }


/* Container of "A L'AFFICHE" 
.col-sm-12 {

    text-align: left; 
    margin-top: 10px; 
    margin-bottom: 50px;

}

 Title "A L'AFFICHE" 
.mt-0 {

    text-align: center; 
    color: #ffde59;

}

 Imgs of "A L'AFFICHE" 
.col-sm-3 img {

    height: 300px;
    width: 250px; 
    padding: 10px;

}

/* Title parallax "RESERVEZ DES MAINTENANT" 
.caption span.border {

    background-color: #001a66;
    font-size: 25px;
    color: #ffde59;

}*/

/* Containers under parallax */
.under-parallax {

    color: #777;
    background-image: linear-gradient(to right top, #050d37, #041863, #1b1f91, #3d20be, #6712eb);
    /*background-color: #001a66;*/
    text-align: center; 
    padding: 50px 80px;
    text-align: justify;

}

/* Title "RESERVATION" "CONTACTEZ NOUS !" under-parallax */
.under-parallax h3.mt-0 {

    text-align: center;

}

.under-parallax p {

    text-align: center;

}

/* Text in footer */
.jumbotron.text-center {

    margin-bottom: 0;

}

/* "RESERVATION" form */
.reservation {

    margin: 0;
    padding: 50px;
    width: auto;
    background-color: #fff;
    margin: 100px auto;
    position: relative;

}


/* Title of "RESERVATION" */
.title-reservation h1 {

    clear: #535274;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center; 

}


/* Label of "RSERVATION" */
label {
     color: black;
}

#container-reservation {
    display: flex;
}

#block-inline {
    display: flex;

}

.block {
    width: 360px;
    height: 50px;
}

/* "CONTACTEZ NOUS !" form */
.contact-us {

    margin: 0;
    padding: 0;
    width: auto;
    background-color: #fff;
    padding: 50px;
    margin: 100px auto;
    position: relative;

}

/* Title of "CONTACTEZ NOUS !" */

.title-contact h1 {

    clear: #535274;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;    

}

/* width of "CONTACTEZ NOUS !" */
.form,
.form-items {

    width: 100%;

}

/* width-input of "CONTACTEZ NOUS !"  */
.form-items .input {

    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #EBEEF1;
    border: 0;
    outline: none;
    border-radius: 5px;

}

/* width-height & others parameters for message input of "CONTACTEZ NOUS !" */
.form-items .input-message {

    height: 200px;
    width: 100%;
    background-color: #EBEEF1;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    resize: none;

}

/* Send button of "CONTACTEZ NOUS !"
.btn-contact {

    background: #827ffe;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
}


.btn-contact .fas {

    margin-left: 15px;
    font-size: 12px;

}*/

/* Send button of "CONTACTEZ NOUS !" NEW*/
.button_cont{
    margin-bottom: 15px;
}

.btn-contact {

   border-radius: 4px;
   background: linear-gradient(to right top, #2c48db, #135ce7, #006ff1, #0081f9, #0092ff) !important;
   border: none;
   border-radius: 25px;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 12px;
   padding: 15px;
   width: 150px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;

 }
 .btn-contact span {

   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;

 }
 .btn-contact span:after {

   content: '\00bb';
   position: absolute;
   opacity: 0;
   color: white;
   top: 0;
   right: -20px;
   transition: 0.5s;

 }
 .btn-contact:hover span {

   padding-right: 25px;

 }
 .btn-contact:hover span:after {

   opacity: 1;
   right: 0;

 }

.form-items {

    position: relative;

}

.form-items .fas {

    position: absolute;
    top: 15px;
    left: 15px;
    color: #9A99AA;

}

/* social icons of "CONTACTEZ NOUS !"*/
.social-icons {

    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.social-icons div {

    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}

.social-icons div .fab {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

/* Social icon Facebook of "CONTACTEZ NOUS !" */
.social-icons div.facebook {

    background: #5178D9;

}

.social-icons div.twitter {

    background: #41CAF6;

}

.social-icons div.instagram {

    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

#footer a {

    padding: 10px;
    border: 1px solid #ffde59;
    border-radius: 5px;
    text-decoration: none;
    color: #ffde59;
    cursor: pointer;

}

#footer a:hover {

    color: ;

}

/*.form-reservation {

    border: 1px solid #001a66;
    width: 500px;
    height: 550px;
    padding: 10px;
    margin: 0 auto;
    
}*/

#btn-envoyer {

    height: 40px;
    margin-left: 190px;
    border-radius: 10px;

}

form {

    border: 1px solid #001a66;
    width: 500px;
    height: 450px;
    padding: 10px;
    margin: 0 auto;

}

select {

    color: #0d0d0d;

}

#btn-reserve {

    margin-left: 190px;
    border-radius: 10px;
    height: 40px;

}

#nombreplaces {

    width: 20%;
    text-align: center;
}

#date {

    text-align: center;
    width: 200px;
    margin-right: 100px;

}

#footer {

    background-color: #0d0d0d;

}

select.country {

    background-color: white;

}

.pointsuspension {

    text-align: center;

}

/*faq*/

section {
    width: 100%;
    height: 950px;
    background-image: linear-gradient(to right top, #050d37, #041863, #1b1f91, #3d20be, #6712eb); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-container {

    width: 100%;
    height: 900px;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    position: absolute;

}

.accordion-item {

    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 10px;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);

}

.accordion-link {

    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;

}

.accordion-link i{

    color: #e7d5ff;
    padding: 16px;


}

a.accordion-link {

    text-decoration: none;

}

.accordion-link .fas.fa-minus {
    display: none;
}

.answer {
   max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    color: rgba(255,255,255,.6);
    transition: max-height 650ms;

}


.answer::before {

    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #006ff1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    color: rgba(255,255,255,.6);
    font-size: 14px;
    padding: 15px;
}


.accordion-item:target .answer {

    max-height: 20rem;

}

.accordion-item:target .accordion-link .fas.fa-plus {

    display: none;

}

.accordion-item:target .accordion-link .fas.fa-minus {

    display: block;

}

.faq-container h2 {

    color: #fff;

}

p.intro-faq {
    padding: 2%;
    border-left-color: red;
    border-left: 3px solid;
}

div.faq-container {
    height: auto;
    margin-bottom: 60px;
    margin-top: 60px;

}

/* Menu for Tablets and smartphones */

button.fdpa-nav-btn.fdpa-open-btn {
    border: 2px solid #ffde59;
    border-radius: 5px;
    background-color: #050D37;
}


.fdpa-nav-btn {
    float: left;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    z-index: 9999;
    color: #ffde59; 
}

.fdpa-nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out 0.4s;

}

.fdpa-open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.fdpa-nav.visible {
    transform: translateX(0);
}

.fdpa-nav-black {
    background-color: #6712EB;
    width: 59%;
    max-width:  480px;
    min-width: 320px; 
}

.fdpa-nav-red {
    background-image: linear-gradient(to left, #050d37, #041863, #1b1f91, #3d20be, #6712eb);
    transition-delay: 0.2s;
    width: 95%;
}

.fdpa-nav-red.visible {
    transition-delay: 0.2s;
}

.fdpa-nav-white {
    background: white;
    padding: 40px;
    transition-delay: 0s;
    width: 95%;
}

.fdpa-nav-white.visible {
    transition-delay: 0.4s;
}

.fdpa-nav-container {
    position: relative;
}

.fdpa-close-btn {
    opacity: 0.3s;
    position: absolute;
    top: 10px;
    right: 0;
}

.fdpa-logo {
    width: 150px;
}

.fdpa-list {
    list-style: none;
    padding: 0;
}

.fdpa-list li {
    margin: 20px 0;
}

.fdpa-list li a {
    color: rgba(34, 31, 31);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

ul button {
    padding: 15px 40px;
    background: red;
    outline: none;
    color: white;
    font-family: tahoma;
    border: none;
    cursor: pointer;
}

/*OLD*/
/*
.content {
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
 
.content.open-sidebar {
    left: 240px;
}

 
#sidebar {
    position: absolute;
    left: -240px;
    background: #ff8c10;
    border-right: 1px solid white;
    opacity: 1;
    z-index: 9999;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    margin: 0;
}

#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid white;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}

#sidebar ul li:hover a {
    background: rgb(242,242,242);
    color:#ff8c10;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.main-content .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}

.main-content .content h1 {
    font-weight: 100;
}

.main-content .content p {
    width: 100%;
    line-height: 160%;
}

.main-content #sidebar-toggle {
    background: #DF314D;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}

#sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;   
}

#sidebar-toggle .bar:last-child {
     margin-bottom: 0;   
}*/

/* BLOG  ARTICLE */

.title-blog {
    padding: 20px;
    text-align: center;
    color: #FFF;

}

/* INTRODUCE BLOG */

.pres-blog {
    text-align: center;
    color: #FFF;
}

/* BLOG POST */
section.latest-news-area {
   display: block;
   text-align: center;
}

.latest-news-area {
    height: 100%;
    margin-top: 0px;
}

.latest-news-wrap {
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    background-color: #050D37;
}

.latest-news-wrap p {
    color: #fff;
}

div.col-md-4 {
    display: inline-block;
    padding: 1.6rem;

}

.latest-news-wrap:hover .news-img:before {
    opacity: .5;
    transform: scale(1);
}

img.img-responsive-blog {
    height: 100%;
    width: 100%;

}

.deat {
    background: #2067ED none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
    padding: 10px;
}

div.deat {
        border-top-left-radius: 5px;  

}

.deat span {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.news-content {
    padding: 20px;
    margin-left: 3px;
    word-wrap: break-word;

}

div.news-content {
    height: 100%;
    width: 100%;
}

.news-content a {
    font-size: 14px;
    background-color: #ffde59;
    padding: 10px 20px;
    color: #050D37;
    transition: all 0.5s ease-in; 
}

.news-content a:hover {
    font-size: 14px;
    border: 1px solid #fff;
    border-top-right-radius: 20px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

.news-content i {
    font-size: 18px;
    display: inline-block;
}

.news-content .fa {
    padding: 10px 10px;
    cursor: pointer;
}

.news-content .fa-facebook-f {
    color: #3B5995;
}

.news-content .fa-twitter {
    color: #0084B4;
}

.news-content .fa-instagram {
    background: #f09433; 
    border-radius: 5px;
    height: 15px
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.fa-instagram {
    color: #fff;
}

.news-img {
    position: relative;
}

.news-img img {
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px; 
}

.news-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-news-wrap {

}

#blog-footer{
    background-color: #0d0d0d;
}


#blog-footer a {

    padding: 10px;
    border: 1px solid #ffde59;
    border-radius: 5px;
    text-decoration: none;
    color: #ffde59;
    cursor: pointer;

}

#blog-footer a:hover {

    color: ;

}


@media screen and (max-width: 1024px) {

    body,html {
          margin: 0;
    }

    /* Menu after caroussel */
    nav.navbar.navbar-expand-sm.justify-content-center {

        display: none;

    }

    /* Logo on caroussel */
    img.rounded-circle {

        display: none;
    }

    /* Reservation form */
    .title-reservation h1 {

       font-size: 25px;

    }

    #nombreplaces {

        width: 40%;

    }

    .caption span.border {

        font-size: 16px;

    }

    /* Title of contact form */
    .title-contact h1 {

        font-size: 25px;
        text-align: center;

    }

    /* Social icon contact form */
    .social-icons div {

        width: 50px;
        height: 50px;

    }

    /* Height of Faq Section */
    .faq-container {
        height: 900px;

    }

    div.faq-container {

        margin-bottom: 10px;
        margin-top: 20px;

    }

    .accordion {

        border-radius: 5px;

    }

    .accordion-item {

        padding: 0;
        font-size: 12px;

    }

    /* Questions */
    a.accordion-link {

        font-size: 12px;
        padding: 10px;
        border-radius: 5px;

    }

    /* Answer content */
    .answer p {

        font-size: 12px;
        padding: 1rem;

    }

    /* border of answer */
    div.answer {

        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

    }


    /* footer */

    #footer {
        position: absolute;
    }

    #footer p {

        font-size: 12px;

    }

    #footer a {

        font-size: 12px;

    }


}






