/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

/* Body for under parallax */
.film-text-1 {
    position: relative;
}

/* Responsive Menu */

button.fdpa-nav-btn.fdpa-open-btn {
    border: 2px solid #ffde59;
    border-radius: 5px;
    background-color: #050D37;
}

/* Button for close the responsive menu */
button.fdpa-nav-btn.fdpa-close-btn {
    width: 40px; 
    height: 40px; 
    border: 3px solid #ffde59; 
    border-radius: 50px;
    background-color: #050D37;
}

/* Style for button open the responsive menu */
.fdpa-nav-btn {
    float: left;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    z-index: 9999;
    color: #ffde59; 
}

/* Parameters for responsive Menu */
.fdpa-nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out 0.4s;

}

/* Position button open the responsive menu */
.fdpa-open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.fdpa-nav.visible {
    transform: translateX(0);
}

.fdpa-nav-black {
    background-color: #041863;
    width: 59%;
    max-width:  480px;
    min-width: 320px; 
}

.fdpa-nav-red {
    background-color: #041863;
    transition-delay: 0.2s;
    width: 95%;
}

.fdpa-nav-red.visible {
    transition-delay: 0.2s;
}

.fdpa-nav-white {
    background-image: linear-gradient(to left top, #050d37, #041863, #1b1f91, #3d20be, #6712eb);    
    padding: 40px;
    transition-delay: 0s;
    width: 95%;
}

.fdpa-nav-white.visible {
    transition-delay: 0.4s;
}

.fdpa-nav-container {
    position: relative;
}

.fdpa-close-btn {
    opacity: 0.3s;
    position: absolute;
    top: 10px;
    right: 0;
}

/* Logo in the responsive menu */
.fdpa-logo {
    width: 150px;
}

.fdpa-list {
    list-style: none;
    padding: 0;
}

.fdpa-list li {
    margin: 20px 0;
}

.fdpa-list li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 20;
}

ul button {
    padding: 15px 40px;
    outline: none;
    color: white;
    font-family: tahoma;
    border: none;
    cursor: pointer;
}

/***********************************/

/* Title of the top of index.html */
.top-title {
    color: #fff;
    text-align: center;
}

/* Top of the index.html */
.principal-intro {
    padding: 2%;
    border-left: 3px solid;
}

/***********************************/

/* Content under parallax*/
.under-parallax {
    color:#ddd;
    background-image: linear-gradient(to right top, #050d37, #041863, #1b1f91, #3d20be, #6712eb);
    text-align:center;
    padding: 50px 80px;
    text-align: justify;
}

/***********************************/

/* Contact system */

/* Style for class .contact-intro */
p.contact-intro {
    padding: 2%;
    border-left: 3px solid;
}

/* "CONTACT" form */
.contact-us {
    width: 80%;
    background-color: #fff;
    padding: 50px;
    margin: 100px auto;
    position: relative;
}

/* Title of "CONTACTEZ NOUS !" */
.title-contact h1 {
    color: #535274;
    font-weight: 2.0rem;
    letter-spacing: 0.31rem;
    margin-bottom: 1.56rem;
    text-align: center;    
}

/* width of "CONTACTEZ NOUS !" */
.form,
.form-items {

    width: 100%;

}

/* width-input of "CONTACTEZ NOUS !"  */
.form-items .input {

    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #EBEEF1;
    border: 0;
    outline: none;
    border-radius: 5px;

}

/* width-height & others parameters for message input of "CONTACTEZ NOUS !" */
.form-items .input-message {

    height: 200px;
    width: 100%;
    background-color: #EBEEF1;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    resize: none;

}

 /* social icons of "CONTACTEZ NOUS !"*/
.social-icons {

    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.social-icons div {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}

.social-icons div .fab {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

/* Facebook icon of "CONTACTEZ NOUS !" */
.social-icons div.facebook {

    background: #5178D9;

}

/* Twitter icon of "CONTACTEZ NOUS !" */
.social-icons div.twitter {

    background: #41CAF6;

}

/* Instagram icon of "CONTACTEZ NOUS !" */
.social-icons div.instagram {

    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

/***********************************/

/* Booking system */

p.booking-intro {
    padding: 2%;
    border-left: 3px solid;
}

/* "RESERVATION" form */
.reservation {

    margin: 0 auto;
    margin: 6.25rem;
    padding: 3.13rem;
    width: 80%;
    background-color: #fff;
    position: relative;


}

/* "RESERVATION" title */
.title-reservation h1 {
    color: #535274;
    font-weight: 2.0rem;
    letter-spacing: 0.31rem;
    margin-bottom: 1.56rem;
    text-align: center;
}

/* Style of .booking-input & .form-items */
.form-items .booking-input {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #EBEEF1;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.form-items {

    position: relative;

}

.form-items .fas {

    position: absolute;
    top: 15px;
    left: 15px;
    color: #9A99AA;

}

.select-seance {

    background-color: #EBEEF1;
    padding: 10px 30px;
    margin-bottom: 12px;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
   color: #0dà;

}


/* Label of "RESERVATION" */
label.booking-label {
    color: #0D0D0D;
}

/***********************************/

/* Send button of "CONTACTEZ NOUS ! & RESERVATION" */
.button_send{
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
}


a.btn-send{
    display: block;
    margin: 0 auto;
}

.btn-send {

   border-radius: 4px;
   background: linear-gradient(to right top, #2c48db, #135ce7, #006ff1, #0081f9, #0092ff) !important;
   border: none;
   border-radius: 25px;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 12px;
   padding: 15px;
   width: 150px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;

 }

 .btn-send span {

   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;

 }
 .btn-send span:after {

   content: '\00bb';
   position: absolute;
   opacity: 0;
   color: white;
   top: 0;
   right: -20px;
   transition: 0.5s;

 }
 .btn-send:hover span {

   padding-right: 25px;

 }
 .btn-send:hover span:after {

   opacity: 1;
   right: 0;

 }

/***********************************/

/* F.A.Q */

/* Parameters of .faq-container */
.faq-container {
    width: 100%;
    height: 80.0rem;
    background-image: linear-gradient(to right top, #050d37, #041863, #1b1f91, #3d20be, #6712eb); 
    padding: 50px 80px;
    text-align: justify;
}

/* Intro for faq */
p.faq-intro {
    padding: 2%;
    border-left: 3px solid;
}

.accordion-container {
    margin-top:  5.0rem;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #283042;
    color: #FFF;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    cursor: pointer;
    padding: 1.8rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
    color: #283042; 
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    background-color: #212838;
    overflow: hidden;
}

/* Color of paragraph faq accordion an border */
.panel p {
    margin-top: 1.0rem;
    color: #FFF;
    border-left: 3px solid  #00ff00;
    padding: 15px;
}



/***********************************/

/* footer */

/* General parameters for the footer */
#footer {
    background-color: #0D0D0D;
    border-radius: 0;
}

/* text in the footer */
.footer-text {
    color: #fff;
}

/* link to hugo-muttoni.com */
#footer a {
    padding: 10px;
    border: 1px solid #ffde59;
    border-radius: 5px;
    text-decoration: none;
    color: #ffde59;
    cursor: pointer;
}

/* delete margin bottom for jumbotron */
.jumbotron.text-center {
    margin-bottom: 0;
}

/***********************************/

#cards{
    width:100%; 
    text-align: center;
} 

#cards .button-prog {
    text-align: center;
    margin-top: 5%;
    width: 30%;
    background-color: #ffde59;
    border: none;
    border-radius: 25px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    transition: all 0.4s;
    cursor: pointer;
}

div[class^="section-card"] {
    display: inline-block;
    width:20%;
}

div[class^="section-card"] .inner_section_card {
    max-width: 90%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div[class^="section-card"] .inner_section_card h2 {
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

div[class^="section-card"] .inner_section_card h2 span{
    font-size: 14px;
    color: #6c757d !important;
}

div[class^="section-card"] .inner_section_card_image {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Stars for all .section-card */
div[class^="section-card"] .rating_card {
    position: relative;
    padding: 5px 0;
}

/* Parameters font-awesome 'stars' for all .section-card */
div[class^="section-card"] .rating_card .fa {
    color: #F7F406;
    margin-right: 2px;
    font-size: 16px;
}

/* Score after the stars for all .section-card  */
div[class^="section-card"] .rating_card span {
    color: #0d0d0d;
    padding: 0 5px;
}

/* Tags for the category of the film .section-card */
div[class^="section-card"] .tags_card {
    position: relative;
    margin-top: 5px;

}

/* Parameters for tags .section-card */
div[class^="section-card"] .tags_card span {
    padding: 2px 5px;
    margin-right: 2px;
    color: #FFF;
    display: inline-block;
    border-radius: 4px;
}

/* Action tag for all .section-card */
div[class^="section-card"] .tags_card span.action {
    background: #ffde59;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;

}

/* Aventure tag for all .section-card */
.tags_card span.aventure {
    background: #ffde59;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
}


div[class^="section-card"] .info_card {
    color: #6c757d !important;
    font-style: italic;
}

div[class^="section-card"] .info_card p {
    margin: 15px 0 10px;
}

div[class^="section-card"] .actors_card {
    position: relative;
}

div[class^="section-card"] .actors_card h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #6c757d !important;
}

div[class^="section-card"] .actors_card ul {
    margin: 10px 0 0;
    padding: 0;
    display: flex;
}

div[class^="section-card"] .actors_card ul li {
    list-style: none;
    width: 35px;
    height: 35px;
    background: #FFF;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
    border: 2px solid #FFF;
}

div[class^="section-card"] .actors_card ul li img {
    width: 100%;
}

/***********************************/

/* BLOG */

.title-blog {
    padding: 20px;
    text-align: center;
    color: #FFF;

}

section.latest-news-area {
    background-image: linear-gradient(to right top, #050d37, #041863, #1b1f91, #3d20be, #6712eb); 
    height: 150%;
}

/* INTRODUCE BLOG */

.pres-blog {
    text-align: center;
    color: #FFF;
}

/* BLOG POST */
section.latest-news-area {
   display: block;
   text-align: center;
}


.latest-news-area {
    height: 100%;
    margin-top: 0px;
}

.latest-news-wrap {
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    background-color: #050D37;
}

.latest-news-wrap p {
    color: #fff;
}

div.col-md-4 {
    display: inline-block;
    padding: 1.6rem;

}

.latest-news-wrap:hover .news-img:before {
    opacity: .5;
    transform: scale(1);
}

img.img-responsive-blog {
    height: 100%;
    width: 100%;

}

.deat {
    background: #2067ED none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
    padding: 10px;
}

div.deat {
        border-top-left-radius: 5px;  

}

.deat span {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.news-content {
    padding: 20px;
    margin-left: 3px;
    word-wrap: break-word;

}

div.news-content {
    height: 100%;
    width: 100%;
    
}

.news-content a {
    font-size: 14px;
    background-color: #ffde59;
    padding: 10px 20px;
    color: #050D37;
    transition: all 0.5s ease-in; 
}

.news-content a:hover {
    font-size: 14px;
    border: 1px solid #fff;
    border-top-right-radius: 20px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

.news-content i {
    font-size: 18px;
    display: inline-block;
}

.news-content .fa {
    padding: 10px 10px;
    cursor: pointer;
}

.news-content .fa-facebook-f {
    color: #3B5995;
}

.news-content .fa-twitter {
    color: #0084B4;
}

.news-content .fa-instagram {
    background: #f09433; 
    border-radius: 5px;
    height: 15px;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.fa-instagram {
    color: #fff;
}

.news-img {
    position: relative;
    background-size: cover;
}

.news-img img {
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px; 
}

.news-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

#blog-footer{
    background-color: #0d0d0d;
}


#blog-footer a {

    padding: 10px;
    border: 1px solid #ffde59;
    border-radius: 5px;
    text-decoration: none;
    color: #ffde59;
    cursor: pointer;

}

/* Media queries : Parameters for Smartphones and Tablets */

@media only screen and (max-width: 320px) {



}

@media only screen and (max-width: 1024px) and (orientation: portrait) {



}
