/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');


/***********************************/

/**** PAGE D'ACCUEIL  ****/

/* PAGE ACCUEIL (Paramètre de position pour toutes les classes .filmtext-1) */
.film-text-1 {

    position: relative;

}


/* PAGE ACCUEIL (Tous les styles concernant les classes p.principal-intro, p.booking-intro, p.contact-intro, p.faq-intro) */
.principal-intro,
.booking-intro,
.contact-intro,
.faq-intro {
    
    padding: 2%;
    border-left: 3px solid;
    margin: 0 auto;

}

/* PAGE ACCUEIL (Titre en Haut de la page index.html .top-title) */
.top-title {

    color: #fff;
    text-align: center;

}

/* PAGE ACCUEIL (Paramètres pour TOUS les containers en dessous de CHAQUE parallax .under-parallax) */
.under-parallax {

    color:#ddd;
    background-image: linear-gradient(to right top, #050d37, #041863, #1b1f91, #3d20be, #6712eb);
    text-align:center;
    padding: 50px 80px;
    text-align: justify;

}

/***********************************/

/**** MENU NON RESPONSIVE  ****/

/* MENU NON RESPONSIVE (pour Desktop/laptop .navbar.navbar-expand-sm.justify-content-center) */
.navbar.navbar-expand-sm.justify-content-center {

    background-color: #0d0d0d;
    color: #FFF;

}

/* MENU NON RESPONSIVE (Paramètres de style des différentes rubrique du menu .nav-link) */
.nav-link {

    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    color: #FFF;
    text-decoration: none;

}

/* MENU NON RESPONSIVE (Couleur des liens au survol de la souris .nav-link:hover) */
.nav-link:hover {
    color: #ffde59;
}

/***********************************/

/**** MENU RESPONSIVE ****/

/* MENU RESPONSIVE (style du bouton d'ouverture .fdpa-nav-btn.fdpa-open-btn) */
.fdpa-nav-btn.fdpa-open-btn {

    border: 2px solid #ffde59;
    border-radius: 5px;

}

/* MENU RESPONSIVE (style du bouton de fermeture .fdpa-nav-btn.fdpa-close-btn) */
.fdpa-nav-btn.fdpa-close-btn {

    width: 40px; 
    height: 40px; 
    border: 3px solid #ffde59; 
    border-radius: 50px;
    background-color: #050D37;

}

/* MENU RESPONSIVE (Position et style du bouton d'ouverture du menu .fdpa-nav-btn) */
.fdpa-nav-btn {

    float: left;
    border: 0;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
    z-index: 9999;
    color: #ffde59; 

}

/* MENU RESPONSIVE (Paramètres du bouton concernant la position à l'ouverture du menu .fdpa-nav) */
.fdpa-nav {

    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out 0.4s;

}

/* MENU RESPONSIVE (Position du bouton d'ouverture .fdpa-open-btn) */
.fdpa-open-btn {

    position: fixed;
    top: 10px;
    left: 10px;
}

/* MENU RESPONSIVE (Affichage du menu "visible" .fdpa-nav.visible) */
.fdpa-nav.visible {

    transform: translateX(0);

}

/* MENU RESPONSIVE (Couleur dernier "volet" du menu .fdpa-nav-last) */
.fdpa-nav-last {

    background-color: #041863;
    width: 59%;
    max-width:  480px;
    min-width: 320px;

}

/* MENU RESPONSIVE (Couleur "volet" du millieu du menu .fdpa-nav-middle) */
.fdpa-nav-middle {

    background-color: #041863;
    transition-delay: 0.2s;
    width: 95%;
}

/* MENU RESPONSIVE (Délais d'ouverture du menu lorqu'on appuie sur le bouton .fdpa-nav-middle.visible) */
.fdpa-nav-middle.visible {

    transition-delay: 0.2s;
}

/* Menu responsive (Paramètres de style et de positionnement du menu une fois ouvert .fdpa-nav-white) */
.fdpa-nav-white {

    background-image: linear-gradient(to left top, #050d37, #041863, #1b1f91, #3d20be, #6712eb);    
    padding: 40px;
    transition-delay: 0s;
    width: 95%;

}

/* MENU RESPONSIVE (Délais de transition du menu .fdpa-nav-white.visible) */
.fdpa-nav-white.visible {

    transition-delay: 0.4s;

}

/* MENU RESPONSIVE (Position des éléments dans le menu ouvert => Logo/rubriques .fdpa-nav-container) */
.fdpa-nav-container {

    position: relative;

}

/* MENU RESPONSIVE (Position du bouton de fermeture du menu .fdpa-close-btn) */
.fdpa-close-btn {

    opacity: 0.3s;
    position: absolute;
    top: 10px;
    right: 0;

}

/* MENU RESPONSIVE (Logo de l'association en haut du menu .fdpa-logo) */
.fdpa-logo {

    width: 150px;

}

/* MENU RESPONSIVE (Style générale des rubriques dans le menu .fdpa-list) */
.fdpa-list {

    list-style: none;
    padding: 0;

}

/* MENU RESPONSIVE (Paramètres de position des rubriques .fdpa-list .fdpa-list-li) */
.fdpa-list .fdpa-list-li {

    margin: 20px 0;

}

/* MENU RESPONSIVE (Paramètres de style des des différentes rubriques dans le menu .fdpa-list .fdpa-list-li .fdpa-list-a) */
.fdpa-list .fdpa-list-li .fdpa-list-a {

    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 20;

}

/***********************************/

/**** FORMULAIRE DE CONTACT ****/

/* FORMULAIRE DE CONTACT (Style du formulaire de contact .contact-us) */
.contact-us {

    width: 100%;
    background-color: #fff;
    padding: 50px;
    margin: 100px auto;
    position: relative;

}

/* FORMULAIRE DE CONTACT (Paramètres affectés pour le titre H1 du formulaire de contact .title-contact h1) */
.title-contact h1 {

    color: #535274;
    font-weight: 2.0rem;
    letter-spacing: 0.31rem;
    margin-bottom: 1.56rem;
    text-align: center; 

}

/* FORMULAIRE DE CONTACT (taille des inputs en fonction de la taille du formulaire .form, .form-items) */
.form,
.form-items {

    width: 100%;

}

/* FORMULAIRE DE CONTACT (Taille et style des inputs .form-items .input) */
.form-items .input {

    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #EBEEF1;
    border: 0;
    outline: none;
    border-radius: 5px;

}

/* FORMULAIRE DE CONTACT (Tailles et style concernant la textarea .form-items .input-message) */
.form-items .input-message {

    height: 200px;
    width: 100%;
    background-color: #EBEEF1;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    resize: none;

}

 /* FORMULAIRE DE CONTACT (Paramètres de tailles et de positionnement des logos des réseaux sociaux .social-icons) */
.social-icons {

    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    justify-content: space-between;

}

/* FORMULAIRE DE CONTACT (Paramètres de taille et de forme des .social-icons) */
.social-icons div {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}

/* FORMULAIRE DE CONTACT (Position des .social-icons par rapoprt au formulaire et couleur des logos) */
.social-icons div .fab {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

/* FORMULAIRE DE CONTACT (Style du .social-icon Facebook .social-icons div.facebook) */
.social-icons div.facebook {

    background: #5178D9;

}

/* FORMULAIRE DE CONTACT (Style du .social-icon Twitter .social-icons div.twitter) */
.social-icons div.twitter {

    background: #41CAF6;

}

/* FORMULAIRE DE CONTACT (Style du .social-icon Instagram .social-icons div.instagram) */
.social-icons div.instagram {

    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

/***********************************/

/**** FORMULAIRE DE RÉSERVATION ****/

/* FORMULAIRE DE RÉSERVATION (Taille & style du formulaire) */
.reservation {

    margin: 100px auto;
    padding: 3.13rem;
    width: 100%;
    background-color: #fff;
    position: relative;


}

/* FORMULAIRE DE RÉSERVATION (Style du titre du formulaire) */
.title-reservation {

    color: #535274;
    text-align: center;
    letter-spacing: 0.31rem;


}

/* FORMULAIRE DE RÉSERVATION */
.title-reservation-form {

    font-weight: 2.0rem;
    margin-bottom: 1.56rem;
}

/* FORMULAIRE DE RÉSERVATION (Style de .form-items et .booking-input) */
.form-items .booking-input {

    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #EBEEF1;
    border: 0;
    outline: none;
    border-radius: 5px;

}

/* FORMULAIRE DE RÉSERVATION  (Paramètre de position des .form-items) */
.form-items {

    position: relative;

}

/* FORMULAIRE DE RÉSERVATION  (Paramètres de position des font-awesome dans les .forms-items) */
.form-items .fas {

    position: absolute;
    top: 15px;
    left: 15px;
    color: #9A99AA;

}

/* FORMULAIRE DE RÉSERVATION  (Style de .select-seance) */
.select-seance {

    background-color: #EBEEF1;
    padding: 10px 30px;
    margin-bottom: 12px;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #0D0D0D;

}


/* FORMULAIRE DE RÉSERVATION (Paramètre de style du label "Date de réservation" .booking-label) */
.booking-label {

    color: #0D0D0D;

}

/***********************************/

/**** BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES ****/

/* BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES (associé aux formulaires de réservation & contact .button_send) */
.button_send {

    margin-bottom: 15px;
    display: block;
    margin: 0 auto;

}

/* BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES (Paramètres de position du bouton .btn-send.btn-send-a) */
.btn-send.btn-send-a {

    display: block;
    margin: 0 auto;

}

/* BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES (Paramètres de style du bouton .btn-send) */
.btn-send {

   border-radius: 4px;
   background: linear-gradient(to right top, #2c48db, #135ce7, #006ff1, #0081f9, #0092ff);
   border: none;
   border-radius: 25px;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 12px;
   padding: 15px;
   width: 150px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;

 }

 /* BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES (Paramètres de style/position/texte du bouton .btn-send-span) */
 .btn-send-span {

   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;

 }

 /* BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES (Paramètres de position/style après survol de la souris sur le bouton .btn-send .btn-send-span:after) */
 .btn-send .btn-send-span:after {

   content: '\00bb';
   position: absolute;
   opacity: 0;
   color: white;
   top: 0;
   right: -20px;
   transition: 0.5s;

 }

 /* BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES (Positionnement du texte dans le bouton  .btn-send:hover .btn-send-span ) */
 .btn-send:hover .btn-send-span {

   padding-right: 25px;

 }

 /*BOUTON ENVOYER/JE RÉSERVE DES FORMULAIRES (Paramètres de Style et position au survol de la souris  .btn-send:hover .btn-send-span:after) */
 .btn-send:hover .btn-send-span:after {

   opacity: 1;
   right: 0;

 }

/***********************************/

/**** F.A.Q ****/

/* F.A.Q (Positionnement container comprenant l'ensembles des questions/réponses .accordion-container) */
.accordion-container {

    margin-top:  5.0rem;

}

/* F.A.Q (Paramètres de style du container comprenant une question .accordion) */
.accordion {

    background-color: #283042;
    color: #FFF;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    cursor: pointer;
    padding: 1.8rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

}

/* F.A.Q (Paramètres de style correspondant à un .accordion ouvert .active, .accordion:hover) */
.active, .accordion:hover {

    background-color: #ccc;
    color: #283042; 

}

/* F.A.Q (Paramètres de style et d'affichage de la réponse .panel) */
.panel {

    padding: 0 18px;
    display: none;
    background-color: #212838;
    overflow: hidden;

}

/* F.A.Q (Paramètres de style/position de la barre verte, à gauche de la réponse .panel .panel-p) */
.panel .panel-p {
    margin-top: 1.0rem;
    color: #FFF;
    border-left: 3px solid  #00ff00;
    padding: 15px;
}


/***********************************/

/**** FOOTER ****/

/* FOOTER (Paramètres géréaux du footer .footer.jumbotron.text-cente) */
.footer.jumbotron.text-center {

    background-color: #0D0D0D;
    border-radius: 0;

}

/* FOOTER (Paramètres de style du texte dans le footer .footer-text) */
.footer-text {

    text-decoration: none;
    color: #fff;

}

/* FOOTER (Paramètres de style du lien vers l'auteur du site .footer .author-link) */
.footer .author-link {

    padding: 10px;
    border: 1px solid #ffde59;
    border-radius: 5px;
    text-decoration: none;
    color: #ffde59;
    cursor: pointer;

}

/* FOOTER (Paramètres de style du lien au survol de la souris .footer .author-link:hover)*/
.footer .author-link:hover {
    color: #ffde59;
    text-decoration: none;
}

/* FOOTER (Suppression de la marge en haut du footer .jumbotron.text-center)*/
.jumbotron.text-center {

    margin-bottom: 0;

}

/***********************************/

/**** BOUTON "LA PROGRAMMATION" ****/


/* BOUTON "LA PROGRAMMATION" (Paramètres supplémentaires concernant le bouton "VOIR LA PROGRAMMATION" .btn-prog .btn-prog-span:after) */
.btn-prog .btn-prog-span:after {

content: '\00bb';
position: absolute;
opacity: 0;
color: #0D0D0D;
top: 0;
right: -20px;
transition: 0.5s;

}

/* BOUTON "LA PROGRAMMATION" (Paramètres supplémentaires concernant le bouton "VOIR LA PROGRAMMATION" .btn-prog:hover .btn-prog-span) */
.btn-prog:hover .btn-prog-span {

padding-right: 25px;

}

/* BOUTON "LA PROGRAMMATION" (Paramètres supplémentaires concernant le bouton "VOIR LA PROGRAMMATION" .btn-prog:hover .btn-prog-span:after) */
.btn-prog:hover .btn-prog-span:after {

    opacity: 1;
    right: 0;

}

/***********************************/

/**** FILMS À L'AFFICHE ****/

/* FILMS À L'AFFICHE  (Ensemble des affiches de films .cards) */
.cards {

    width:100%; 
    text-align: center;
    display: flex;
} 

/* FILMS À L'AFFICHE (Taille, Style, Paramètres concernant les cards des films à l'affiche index.html .section-card) */
div[class^="section-card"] {

    flex: 1;
    width: 20%;

}

/* FILMS À L'AFFICHE (Paramètres de tailles des affiches + infos .inner_section_card)  */
div[class^="section-card"] .inner_section_card {

    max-width: 90%;
    height: 57%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* FILMS À L'AFFICHE (Paramètres concernant le titre du film .inner_section_card .title_card) */
div[class^="section-card"] .inner_section_card .title_card {

    color: black;
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-size: 20px;

}

/* FILMS À L'AFFICHE (Paramètres concenrnant le nom du réalisateur en dessous du titre du film .inner_section_card .title_card .title_author) */
div[class^="section-card"] .inner_section_card .title_card .title_author {

    font-size: 12px;
    color: #6c757d;

}

/* FILMS À L'AFFICHE (Paramètres de style concernant l'affiche du film .inner_section_card_affiche) */
div[class^="section-card"] .inner_section_card_affiche {

    max-width: 90%;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* FILMS À L'AFFICHE (Paramètres de taille concernant l'affiche du film .inner_section_card_image) */
div[class^="section-card"] .inner_section_card_image {

    width: 100%;
    
}

/* FILMS À L'AFFICHE (Paramètres concernant le positionnement de la notation du film .rating_card) */
div[class^="section-card"] .rating_card {

    position: relative;
    padding: 5px 0;

}

/* FILMS À L'AFFICHE (Paramètres de style concernant les étoiles .rating_card .fa) */
div[class^="section-card"] .rating_card .fa {

    color: #F7F406;
    margin-right: 2px;
    font-size: 16px;

}

/* FILMS À L'AFFICHE (Paramètres de style concernant la notation du film .rating_card .rating_card_span) */
div[class^="section-card"] .rating_card .rating_card_span {

    color: #0d0d0d;
    padding: 0 5px;

}

/* FILMS À L'AFFICHE (Paramètres de position des tags .tags_card) */
div[class^="section-card"] .tags_card {

    position: relative;
    margin-top: 5px;

}

/* FILMS À L'AFFICHE (Paramètres de style concernant le texte dans les tags .tags_card span ) */
div[class^="section-card"] .tags_card span {

    padding: 2px 5px;
    margin-right: 2px;
    color: #FFF;
    display: inline-block;
    border-radius: 4px;

}

/* FILMS À L'AFFICHE (Style, couleur de fond, police utilisé, tags des films à l'affiche .tags_card .action) */
div[class^="section-card"] .tags_card .action {

    background: #ffde59;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;


}

/* FILMS À L'AFFICHE (Style, couleur de fond, police utilisé, tags des films à l'affiche .tags_card .aventure)*/
div[class^="section-card"] .tags_card .aventure {

    background: #ffde59;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;

}

/* FILMS À L'AFFICHE (Paramètres de style concernant le court résumé du film .info_card)*/
div[class^="section-card"] .info_card {

    color: #6c757d;
    font-style: italic;

}

/* FILMS À L'AFFICHE (Paramètres de position du résumé, et condition de cassure de phrase, .info_card .inner_section_card_p) */
div[class^="section-card"] .info_card .inner_section_card_p {

    margin: 15px 0 10px;
    word-wrap: break-word;
}

/* FILMS À L'AFFICHE (Paramètres concernant le container incluant le casting du film .actors_card) */
div[class^="section-card"] .actors_card {

    position: relative;

}

/* FILMS À L'AFFICHE (Paramètres concernant le titre "CASTING") */
div[class^="section-card"] .actors_card .casting_card {

    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #6c757d;

}

/* FILMS À L'AFFICHE (Paramètres de position concernant les images du casting) */
div[class^="section-card"] .actors_card .actors_card_ul {

    margin: 10px 0 0;
    padding: 0;

}

/* FILMS À L'AFFICHE (Paramètres de style concernant les images du casting) */
div[class^="section-card"] .actors_card .actors_card_ul .actors_card_li {

    list-style: none;
    width: 35px;
    height: 35px;
    background: #FFF;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FFF;

}

/* FILMS À L'AFFICHE (Paramètres de position de taille/position des images du casting) */
div[class^="section-card"] .actors_card .actors_card_ul .actors_card_li .actors_card_img {

    width: 100%;

}

/***********************************/

/**** BOUTON "VOIR LA PROGRAMMATION" ****/

/* BOUTON "VOIR LA PROGRAMMATION"(Bouton permettant de voir la programmation complète du festival) */
.button_prog {
    
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 15%;
    width: 15%;
    background-color: #ffde59;
    border: none;
    border-radius: 25px;
    word-wrap: break-word;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    transition: all 0.4s;
    cursor: pointer;

}

/* BOUTON "VOIR LA PROGRAMMATION" (Paramètres de style au survol de la souris sur le bouton "VOIR LA PROGRAMMATION" .btn-prog-span) */
.btn-prog-span {

color: #0D0D0D;
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.4s;

}


/***********************************/

/**** BLOG ****/

.title-blog {

    padding: 20px;
    text-align: center;
    color: #FFF;

}

/* LES ARTICLES DU BLOG */

/* BLOG (Section globale comprenant l'ensemble des articles .latest-news-area ) */
.latest-news-area {

   display: block;
   text-align: center;
   height: 100%;
   margin-top: 0px;

}

/* BLOG (Paramètres concernant les articles sur leur style .latest-news-wrap) */
.latest-news-wrap {

    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    background-color: #050D37;

}

/* BLOG (Couleur du texte des articles .latest-news-wrap .news-content-p) */
.latest-news-wrap .news-content-p {

    color: #fff;

}

/* BLOG (Positionnement des articles .col-md-6) */
.col-md-6 {

    display: inline-block;
    padding: 1.6rem;


}

/* BLOG (Paramètres concernant l'opacité et l'animation au survol de l'article avec la souris .latest-news-wrap:hover .news-img:before) */
.latest-news-wrap:hover .news-img:before {

    opacity: .5;
    transform: scale(1);

}

/* BLOG (Paramètres de tailles concernant .img-responsive-blog au dessu de .news-content)*/
.img-responsive-blog {

    height: 100%;
    width: 100%;


}

/* BLOG (Style, dimensions, de la date de publication de l'article .deat) */
.deat {

    background: #2067ED none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
    padding: 10px;
    border-top-left-radius: 5px;  

}

/* BLOG (Couleur du texte concernant la date de publication de l'article .deat .deat-span) */
.deat .deat-span {

    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 16px;

}

/* BLOG (Container comprenant un court résumé de l'article .news-content) */
.news-content {

    height: 100%;
    width: 100%;
    padding: 20px;
    margin-left: 3px;
    word-wrap: break-word;

}

/* BLOG (Bouton pour lire le reste de l'article .news-content .news-content-a ) */
.news-content .news-content-a {

    font-size: 14px;
    background-color: #ffde59;
    padding: 10px 20px;
    color: #050D37;
    transition: all 0.5s ease-in;

}

/* BLOG (Style du bouton lorsqu'on passe la souris dessus .news-content .news-content-a:hover) */
.news-content .news-content-a:hover {

    font-size: 14px;
    border: 1px solid #fff;
    border-top-right-radius: 20px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;

}

/* BLOG (Taille/Position concernant les logos des réseaux sociaux .news-content .fab.fa-facebook-f, .fab.fa-twitter, .fab .fa-instagram) */
.news-content .fab.fa-facebook-f, .fab.fa-twitter, .fab .fa-instagram {

    font-size: 18px;
    display: inline-block;

}


/* BLOG (Couleur du logo Facebook .fa-facebook-f) */
.news-content .fa-facebook-f {

    color: #3B5995;

}

/* BLOG (Couleur du logo Twitter .fa-twitter) */
.news-content .fa-twitter {

    color: #0084B4;

}

/* BLOG (Couleur du logo instagram .fa-instagram) */
.news-content .fa-instagram {

    background: #f09433; 
    border-radius: 5px;
    height: 15px
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

/* BLOG (Couleur de l'icone instagram .fa-instagram) */
.fa-instagram {

    color: #fff;

}

/* BLOG (Position des images .news-img) */
.news-img {

    position: relative;

}

/* BLOG (Ajout d'un bord arrondi haut-droit et gauche .news-img .img-responsive-blog) */
.news-img .img-responsive-blog {

    border-top-left-radius: 5px;  
    border-top-right-radius: 5px;

}

/* BLOG (Paramètres concernant l'annimation lorsqu'ont passe la souris dessus .news-img:before) */
.news-img:before {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;

}


/***********************************/


/**** MEDIA QUERIES ****/

/* Paramètres pour Laptop & Desktop */
@media only screen and (min-width: 1351px){

    /* Menu responsive (suppression du menu responsive pour Laptop & desktop button.fdpa-nav-btn.fdpa-open-btn) */
    button.fdpa-nav-btn.fdpa-open-btn {

        display: none; 

    }

}



/* Paramètres pour smartphones et autres devices de petites tailles */
@media only screen and (max-width: 778px) {

    /**** PAGE D'ACCUEIL - Adaptation mobile ****/

    /* FORMULAIRES - RÉSERVATION - CONTACT (suppression des marges autour des formulaires .under-parallax) */
    .under-parallax {

        padding: 0;

    }

    /* PAGE ACCUEIL (Tous les styles concernant les classes p.principal-intro, p.booking-intro, p.contact-intro, p.faq-intro) */
    .principal-intro,
    .booking-intro,
    .contact-intro,
    .faq-intro {
        
        padding: 1.0rem;

    }

    /* PAGE ACCUEIL (Titre en Haut de la page index.html .top-title) */
    .top-title {

        padding: 1.0rem;

    }


    /***********************************/

    /**** MENU NON RESPONSIVE - Adaptation mobile ****/

    /* MENU NON RESPONSIVE (pour Desktop & Laptop .navbar.navbar-expand-sm.justify-content-center) */
    .navbar.navbar-expand-sm.justify-content-center {

        display: none;

    }

    /***********************************/

    /**** CAROUSSEL - Adaptation mobile ****/

    /* Logo de l'association sur le caroussel (Suppression du logo sur le caroussel .rounded-circle.logo_opacity) */
    .rounded-circle.logo_opacity {

        display: none;

    }

    /***********************************/

    /**** FORMULAIRE DE RÉSERVATION - Adaptation mobile ****/

    /* FORMULAIRE DE RÉSERVATION (Taille du titre "FAIRE UNE RESERVATION" .title-reservation) */
    .title-reservation {

        word-break: break-word;

    }

    /* FORMULAIRE DE RÉSERVATION (Taille/marge du titre "FAIRE UNE RESERVATION" .form-title-reservation) */
    .form-title-reservation {

        font-weight: 1.0rem;
        margin-bottom: 1.0rem;
        font-size: 25px;        

    }

    /* FORMULAIRE DE RÉSERVATION (largeur à 100% .select-seance) */
    .select-seance {

        width: 100%;

    }

    /***********************************/

    /**** FILMS À L'AFFICHE - Adaptation mobile ****/

    /* FILMS À L'AFFICHE (Ensemble des affiches de films .cards) */
    .cards {

        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    
    }

    /* FILMS À L'AFFICHE (Disposition des affiches de films .section-card) */
    div[class^="section-card"] {

        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        margin-top: 5%;

    }

    /* FILMS À L'AFFICHE (Suppression .info_card) */
    div[class^="section-card"] .info_card {

        display: none;

    }

    /* FILMS À L'AFFICHE (Suppression de .actors_card) */
    div[class^="section-card"] .actors_card {

        display: none;

    }

    /* FILMS À L'AFFICHE (Ajustement de la taille de la police dans .inner_section_card & .title_card) */
    div[class^="section-card"] .inner_section_card  .title_card {

        font-size: 15px;

    }

    /* FILMS À L'AFFICHE (Ajustement de la taille de la police dans .rating_card .fa) */
    div[class^="section-card"] .rating_card .fa {

        font-size: 10px;

    }

    /* FILMS À L'AFFICHE (Adaptation des tags sur mobile)*/
    div[class^="section-card"] .tags_card {

        padding: 5px;

    }

    div[class^="section-card"] .tags_card .action {

        background: #ffde59;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 10px;


    }

    div[class^="section-card"] .tags_card .aventure {

        background: #ffde59;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 10px;

    }


    /***********************************/

    /**** BOUTON "VOIR LA PROGRAMMATION" - Adaptation mobile ****/

    /* BOUTON "VOIR LA PROGRAMMATION" (Élargissement du bouton "VOIR LA PROGRAMMATION" .button_prog) */
    .button_prog {

        width: 100%;
        font-size: 12px;
        border-radius: 0;

    }

    
    /***********************************/

    /**** FORMULAIRE DE CONTACT - Adaptation mobile ****/

    /* FORMULAIRE DE CONTACT (ajout d'un break-word .form-title-contact) */
    .form-title-contact {

        word-break: break-word;
        font-size: 25px;

    }

    /***********************************/

    /**** FOOTER - Adaptation mobile ****/

    /* FOOTER (Taille du texte dans le footer .footer-text ) */
    .footer-text {

        font-size: 12px;

    }

    /* FOOTER (Style et taille du lien vers le site de l'auteur .author-link) */
    .author-link {

        font-size: 12px;

    }


}


/* Paramètres pour gérer l'affichage sur tablettes et Laptop */
@media (min-width: 779px) and (max-width: 1350px) {

    /**** MENU RESPONSIVE ****/

    /* MENU RESPONSIVE (Suppression du menu responsive) */
    .navbar.navbar-expand-sm.justify-content-center {

        display: none;

    }

    /***********************************/
    
    /**** FILMS À L'AFFICHE - Adaptation pour les plus petits formats d'écran ****/

    .cards {

        flex-direction: column;
        margin: 0;
        padding: 10px;

    }

    div[class^="section-card"] {

        margin: 0 auto;
        background-color: white;
        width: 60%;
        margin-bottom: 10px;
    }

    div[class^="section-card"] .inner_section_card_p {

        float: right;

    }

    div[class^="section-card"] .inner_section_card {

        max-width: 100%;
        max-height: 100%;

    }

    div[class^="section-card"] .inner_section_card_image {

        float: left;
        max-width: 60%;
        max-height: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    
    }

    div[class^="section-card"] .rating_card {

        position: relative;
        padding: 20px 0;

    }

    div[class^="section-card"] .rating_card .fa {

        color: #F7F406;
        margin-right: 2px;
        font-size: 16px;

    }

    div[class^="section-card"] .rating_card .rating_card_span {

        color: #0d0d0d;
        padding: 0 5px;

    }

    div[class^="section-card"] .tags_card {

        position: relative;
        margin-top: 15px;

    }

    div[class^="section-card"] .tags_card span {

        margin-right: 2px;
        color: #FFF;
        display: inline-block;
        border-radius: 4px;

    }

    div[class^="section-card"] .tags_card .action {

        background: #ffde59;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 12px;


    }

    div[class^="section-card"] .tags_card .aventure {

        background: #ffde59;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 12px;

    }


    div[class^="section-card"] .info_card {

        color: #6c757d;
        font-style: italic;

    }

    div[class^="section-card"] .info_card .inner_section_card_p {

        margin: 15px 0 10px;

    }

    div[class^="section-card"] .actors_card {

        text-align: center;
        margin-top: 90%;

    }

    div[class^="section-card"] .actors_card .casting_card  {

        margin: 0;
        padding: 0;
        font-size: 15px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #6c757d;

    }

    div[class^="section-card"] .actors_card .actors_card_ul {

        margin: 10px 0 0;
        padding: 0;

    }

    div[class^="section-card"] .actors_card .actors_card_ul .actors_card_li {

        list-style: none;
        width: 30px;
        height: 30px;
        background: #FFF;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #FFF;

    }

    div[class^="section-card"] .actors_card .actors_card_ul .actors_card_li .actors_card_img {

        width: 100%;

    }

    /***********************************/

    /* Bouton "VOIR LA PROGRAMMATION" - Adapation plus petits formats écrans*/
    .button_prog {

        width: 30%;
        font-size: 10px;

    }


}
